<% provide(:title, "Home") %>
 <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
<% if logged_in? %>
login now
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render  "shared/user_info" %>
      </section>
      <section class="stats">
        <%= render 'shared/starts' %>
      </section>
      <div class="pagination">
        <section class="Post_form">
          <%= render "shared/post_form" %>
        </section>
      </div>
    </aside>
  <div class="col-md-8">
      <h3>Post Feed</h3>
      <%= render @feed_items %>
  </div>
</div>
<% else %>

  <div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>

    <h2>
      This is the home page for the
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", users_new_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
  <%#= link_to image_tag("kitten.jpg", alt: "kitten "), '#' %>
<% end %>