<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<div class="container">
    <h1>sign_up page</h1>
    <%= form_for @user, url: users_update_path(current_user.id) do |f| %>
        <p><%= f.label:username%></p>
        <p><%= f.text_field :username, :placeholder => "User name" %></p>
        <p><%= f.label:email %></p>
        <p><%= f.text_field :email, :placeholder => "email" %></p>
        <p><%= f.label :password %></p>
        <p><%= f.password_field  :password %></p>
        <p><%= f.label :password_confirmation %></p>
        <p><%= f.password_field :password_confirmation %></p>
        <%=f.submit%>
    <% end%>
</div>