 <p><% provide(:title, @user.username) %></p>
   <div class="row">
    <div>
     <h1><p><%= gravatar_for @user %></p></h1>
     <p><%= @user.username %></p>
     <p> user_email:<%= @user.email%></p>
     <p><%= @user.created_at %>, <%= @user.updated_at %></p>
     <p>Time.now: <%= Time.now %></p>
    </div>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
     <%= render 'follow_form' if logged_in? %>
       <div class="col-md-8">
         <% if @user.posts.any? %>
           <h3>posts (<%= @user.posts.count %>)</h3>
           <% if @posts.present? %>
                <%= render @posts %>
                <%= will_paginate @posts %>
           <% end %>
             </ol>
           </div>
         <% end %>
       </div>

  
 