
<% if logged_in? %>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TEST</a>
      <a class="navbar-brand">現在<%=current_user.username%>様がログイン中</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"> <%= link_to "Home",root_path %></a>
          </li>
           <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"> <%= link_to "Users", users_index_path %></a>
          </li>
        

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"> <%= link_to "mypage",user_path(current_user) %></a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><%= link_to "Settings", edit_user_path(current_user.id) %></a>
          </li>
          
         <li class="nav-item">
             <%= link_to "logout",logout_path, method: :delete %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><%= link_to "Help",  help_path %></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% else %>  
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TEST</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"> <%= link_to "Home",  root_path %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><%= link_to "Help",  help_path %></a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               start
            </a>
             <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#"></a></li>
              <li><a class="dropdown-item" href="#">  <%= link_to "sine_up", users_new_path %></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"> <%= link_to "login", login_path %></a></li>
            </ul>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
<% end %>