<!DOCTYPE html>
<html>
  <head>
    <title>K0331</title>
    <%= csrf_meta_tags %>
    <%= link_to "sine_up", users_new_path %>
    <%= link_to "login", sessions_new_path %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
